//Colors
$color_gray : rgb(235, 235, 235);
$color_dark : rgb(27, 30, 47);
$color_yellow : rgb(255, 204, 1);
$color_text : rgb(45, 45, 45);
$color_text_white : white;


$color_dark_border: rgb(57, 58, 78);


//Widths
$content_width :  1440px;
