* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    @include font(1.6rem, 2.4rem);

}

h1 {
    @include font(4.8rem, 5rem, 600);
    color: $color_text;

}

h2 {
    @include font(4rem, 5.2rem);
    color: $color_text;

}

h3 {
    @include font(2rem, 2rem, bold);
    color: $color_text;
}
